@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #121217;
    margin: 0;
}

* {
    box-sizing: border-box;
}

p {
    margin: 0;
    font-size: 18px;
    line-height: 30.6px;
}

h1,
h2 {
    margin: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #121217;
}

img {
    width: 100%;
}

.bg-gray {
    background: #F7F7F8;
}

.linear-bg {
    background: linear-gradient(0deg, #EBEDFC 0%, rgba(255, 255, 255, 0.00) 52.3%);
}

.container {
    max-width: 1380px;
    padding: 0 15px;
    margin: 0 auto;
}

.primary-btn {
    color: #fff;
    background-color: #7F54B3;
    border-radius: 50px;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    padding: 6px 25px;
    cursor: pointer;
    border: none;
}

.primary-btn:hover {
    background-color: #d9d9d9;
    color: #7F54B3;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 44px 0;
}

.header>div {
    flex: 1;
}

.header>div:last-child {
    text-align: right;
}

.header .logo {
    display: block;
    flex: 1;
}

.header .logo img {
    max-width: 233px;
}

.header ul {
    display: flex;
    align-items: center;
    gap: 31px;
    justify-content: flex-end;
}

.header ul li a {
    line-height: 24px;
}

/* Banner  */
.banner {
    padding: 104px 0;
}

.banner h1 {
    font-size: 74px;
    font-weight: 800;
    line-height: 80px;
    letter-spacing: -3.2px;
    margin: 0 0 20px;
}

.banner h1 span {
    color: #7F54B3;
}

.banner .line {
    max-width: 635px;
}

.banner .dashboard {
    max-width: 575px;
    display: block;
    margin: 30px auto 0;
}

.banner .content {
    margin: 17px 0 0;
}

.banner .content p {
    font-size: 24px;
    max-width: 800px;
    color: #909293;
    line-height: 30.6px;
    margin: 0 0 50px;
}

.banner .content .primary-btn {
    padding-left: 50px;
    padding-right: 50px;
}

/* Win Rates: Our Guiding North Star  */
.win-rate {
    background: url(../img/winrates.png), #EBEDFC 50% / cover no-repeat;
}

.win-rate .win-rate-wrapper {
    padding: 100px 0;
    display: flex;
    gap: 15px;
}

.win-rate .win-rate-inner {
    width: 50%;
}

.win-rate .win-rate-inner h2 {
    font-size: 53px;
    line-height: 63.84px;
    letter-spacing: -1.68px;
    margin: 0 0 30px;
}

.win-rate .win-rate-inner .line {
    max-width: 258px;
}

.win-rate .win-rate-inner p {
    margin: 30px 0 36px;
}

.win-rate .win-rate-inner p span {
    font-weight: 700;
}

.win-rate .win-rate-inner a {
    color: #000;
    font-size: 15px;
    font-weight: 500;
    line-height: 31.72px;
    letter-spacing: -0.52px;
    display: inline-flex;
    align-items: center;
}

.win-rate .win-rate-inner h3 {
    text-align: center;
    font-size: 28px;
    margin: 0 0 50px;
}

.win-rate .win-rate-inner .right-inner {
    position: relative;
    max-width: 300px;
    margin: 0 auto;

}

.win-rate .win-rate-inner .right-inner::before {
    content: '';
    background: linear-gradient(90deg, #EBEDFC 30.52%, rgba(255, 255, 255, 0.00) 50.31%);
    background-size: cover;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 50px;
    z-index: 10;
}

.win-rate .win-rate-inner .right-inner::after {
    content: '';
    background: linear-gradient(270deg, #EBEDFC 30.52%, rgba(255, 255, 255, 0.00) 50.31%);
    background-size: cover;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100px;
    z-index: 10;
}
.win-rate .win-rate-inner .right-inner .owl-carousel {
    margin: 0 0 20px;
}
.win-rate .win-rate-inner .right-inner .owl-carousel .owl-item.center .item {
    transform: scale(1.2);
}

.win-rate .win-rate-inner .right-inner .owl-carousel .owl-item .item {
    transform: scale(0.8);
    transition: all ease 0.5s;
}

.win-rate .win-rate-inner .right-inner .owl-carousel .owl-item .item .item-inner {
    border-radius: 5px;
    background: #FFF;
    height: 70px;
    padding: 20px;
    text-align: center;
}

.win-rate .win-rate-inner .right-inner .owl-carousel .owl-item .item img {
    height: 100%;
    object-fit: contain;
}

/* Why Us  */
.why-us {
    padding: 120px 0;
    background-color: #121217;
}

.why-us h2 {
    color: #FFF;
    font-size: 53px;
    font-weight: 700;
    line-height: 30.6px;
    margin: 0 0 44px;
}

.why-us ul {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.why-us ul li {
    width: calc(33.33% - 30px);
    padding: 85px 0 60px;
}

.why-us ul li h3 {
    color: #FFF;
    font-size: 36.4px;
    line-height: 46.08px;
    letter-spacing: -0.768px;
    margin: 0 0 50px;
}

.why-us ul li p {
    color: #FFF;
}

/* About Us  */
.about-us {
    display: flex;
    padding: 100px 0;
}

.about-us .inner:first-child {
    width: 40%;
}

.about-us .inner:last-child {
    width: 60%;
}

.about-us .inner h2 {
    font-size: 40px;
    font-weight: 700;
    margin: 0 0 40px;
}

.about-us .inner h3 {
    font-size: 24px;
    font-weight: 500;
    margin: 40px 0 5px;
}

.about-us .inner span {
    font-size: 18px;
    color: rgba(0, 0, 0, .8);
}

.about-us .inner img {
    max-width: 650px;
    margin-left: auto;
    display: block;
}

/* No Commitment */
.no-commitment {
    padding: 100px 0;
}

.no-commitment .no-commitment-wrapper {
    display: flex;
}

.no-commitment .no-commitment-wrapper .left {
    width: 30%;
}

.no-commitment .no-commitment-wrapper .left .inner-wrapper {
    background-color: #fff;
    padding: 17px;
    display: flex;
    align-items: center;
    gap: 15px;
    justify-content: space-between;
}

.no-commitment .no-commitment-wrapper .left .inner-wrapper img {
    width: 20px;
}

.no-commitment .no-commitment-wrapper .left .inner-wrapper .content {
    display: flex;
    align-items: center;
    gap: 15px;

}

.no-commitment .no-commitment-wrapper .left .inner-wrapper .content p {
    font-size: 18px;
    line-height: 30.6px;
}

.no-commitment .no-commitment-wrapper .left .inner-wrapper .content p:first-child {
    margin: 0 0 12px;
}

.no-commitment .no-commitment-wrapper .left .inner-wrapper span.green {
    color: #1E874C;
    font-size: 18px;
    line-height: 30.6px;
}

.no-commitment .no-commitment-wrapper .left .inner-wrapper span.green {
    color: #6C6C89;
}

.no-commitment .no-commitment-wrapper .left .arrow-image {
    margin: 42px auto;
    max-width: 25px;
    display: block;
}

.no-commitment .no-commitment-wrapper .right {
    width: 70%;
    padding: 0 0 0 123px;
}

.no-commitment .no-commitment-wrapper .right h2 {
    font-size: 52px;
    font-style: normal;
    font-weight: 700;
    line-height: 63.84px;
    letter-spacing: -1.68px;
    margin: 0 0 50px;
}

.no-commitment .no-commitment-wrapper .right p {
    margin: 0 0 15px;
}

.no-commitment .no-commitment-wrapper .right p span {
    color: #6C6C89;
}

.no-commitment .no-commitment-wrapper .right p span b {
    font-weight: 700;
}

.no-commitment .no-commitment-wrapper .right a {
    color: #D50B3E;
    font-size: 14px;
    font-weight: 500;
    line-height: 22.4px;
    letter-spacing: 2px;
    text-transform: uppercase;
    display: inline-flex;
    align-items: center;
}

.no-commitment .no-commitment-wrapper .right a svg path {
    fill: #D50B3E;
}

/* A behind-the-scenes view  */
.behind-the-scenes-view {
    padding: 100px 0;
}

.behind-the-scenes-view h2 {
    color: #000;
    font-size: 52px;
    font-weight: 700;
    line-height: 23.8px;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin: 0 0 30px;
}

.behind-the-scenes-view p {
    max-width: 700px;
    margin: 0 0 50px;
}

.behind-the-scenes-view ul {
    display: flex;
    flex-wrap: wrap;
    gap: 60px 150px;
}

.behind-the-scenes-view ul li {
    width: calc(50% - 150px);
    display: flex;
    gap: 12px;
    align-items: flex-start;
}

.behind-the-scenes-view ul li img {
    max-width: 30px;
}

.behind-the-scenes-view ul li .content h4 {
    font-size: 24px;
    font-weight: 500;
    line-height: 31.72px;
    letter-spacing: -0.52px;
    margin: 0 0 15px;
}

.behind-the-scenes-view ul li .content span {
    color: #000;
    font-size: 24px;
    font-weight: 300;
    line-height: 31.72px;
    letter-spacing: -0.52px;
}

/* Footer  */
footer {
    background-color: #121217;
    padding: 83px 0 15px;
}

footer .inner-footer {
    display: flex;
    flex-wrap: wrap;
}

footer .inner-footer .inner-wrapper {
    width: 30%;
}

footer .inner-footer .inner-wrapper:first-child {
    width: 40%;
    padding-right: 100px;
}

footer .inner-footer .inner-wrapper img {
    max-width: 200px;
    margin: 0 0 20px;
}

footer .inner-footer .inner-wrapper p {
    color: #fff;
}

footer .inner-footer .inner-wrapper h3 {
    color: #FFF;
    font-size: 16px;
    line-height: 25.6px;
}

footer .inner-footer .inner-wrapper ul li {
    padding: 18px 0;
}

footer .inner-footer .inner-wrapper ul li a {
    color: rgba(255, 255, 255, 0.60);
    font-size: 16px;
    line-height: 25.6px;
}

footer .copy-right {
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-size: 14px;
    line-height: 22.4px;
}

footer .copy-right a {
    color: rgba(255, 255, 255, 0.60);
}