@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #121217;
    margin: 0;
}

* {
    box-sizing: border-box;
}

p {
    margin: 0;
    font-size: 18px;
    line-height: 30.6px;
}

h1,
h2 {
    margin: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #121217;
}

img {
    width: 100%;
}

.bg-gray {
    background: #F7F7F8;
}

.linear-bg {
    background: linear-gradient(0deg, #EBEDFC 0%, rgba(255, 255, 255, 0.00) 52.3%);
}

a.learn-more {
    color: #000;
    font-size: 15px;
    font-weight: 500;
    line-height: 31.72px;
    letter-spacing: -0.52px;
    display: inline-flex;
    align-items: center;
}

.container {
    max-width: 1380px;
    padding: 0 15px;
    margin: 0 auto;
}

.primary-btn {
    color: #fff;
    background-color: #7F54B3;
    border-radius: 50px;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    padding: 6px 25px;
    cursor: pointer;
    border: none;
}

.primary-btn:hover {
    background-color: #d9d9d9;
    color: #7F54B3;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 44px 0;
}

.header>div {
    flex: 1;
}

.header>div:last-child {
    text-align: right;
}

.header .logo {
    display: block;
    flex: 1;
}

.header .logo img {
    max-width: 233px;
}

.header ul {
    display: flex;
    align-items: center;
    gap: 31px;
    justify-content: flex-end;
}

.header ul li a {
    line-height: 24px;
}

/* Banner  */
.banner {
    padding: 104px 0;
}

.banner h1 {
    font-size: 74px;
    font-weight: 800;
    line-height: 80px;
    letter-spacing: -3.2px;
    margin: 0 0 20px;
}

.banner h1 span {
    color: #7F54B3;
}

.banner .line {
    max-width: 635px;
}

.banner .dashboard {
    /* max-width: 575px;
    display: block; */
    margin: 30px auto 0;
}

.banner .content {
    margin: 17px 0 0;
}

.banner .content p {
    font-size: 24px;
    max-width: 800px;
    color: #909293;
    line-height: 30.6px;
    margin: 0 0 50px;
}

.banner .content .primary-btn {
    padding-left: 50px;
    padding-right: 50px;
}

/* Win Rates: Our Guiding North Star  */
.win-rate {
    background: url(../img/winrates.png), #EBEDFC 50% / cover no-repeat;
}

.win-rate .win-rate-wrapper {
    padding: 100px 0;
    display: flex;
    flex-wrap: wrap;
}

.win-rate .win-rate-inner {
    width: 50%;
}

.win-rate .win-rate-inner h2 {
    font-size: 53px;
    line-height: 63.84px;
    letter-spacing: -1.68px;
    margin: 0 0 30px;
}

.win-rate .win-rate-inner .line {
    max-width: 258px;
}

.win-rate .win-rate-inner p {
    margin: 15px 0;
}

.win-rate .win-rate-inner p span {
    font-weight: 700;
}


.win-rate .win-rate-inner h3 {
    text-align: center;
    font-size: 28px;
    margin: 0 0 50px;
}

.win-rate .win-rate-inner .right-inner {
    position: relative;
    max-width: 300px;
    margin: 0 auto;

}

.win-rate .win-rate-inner .right-inner::before {
    content: '';
    background: linear-gradient(90deg, #EBEDFC 30.52%, rgba(255, 255, 255, 0.00) 50.31%);
    background-size: cover;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 50px;
    z-index: 10;
}

.win-rate .win-rate-inner .right-inner::after {
    content: '';
    background: linear-gradient(270deg, #EBEDFC 30.52%, rgba(255, 255, 255, 0.00) 50.31%);
    background-size: cover;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100px;
    z-index: 10;
}

.win-rate .win-rate-inner .right-inner .owl-carousel {
    margin: 0 0 20px;
}

.win-rate .win-rate-inner .right-inner .owl-carousel .owl-item.center .item {
    transform: scale(1.2);
}

.win-rate .win-rate-inner .right-inner .owl-carousel .owl-item .item {
    transform: scale(0.8);
    transition: all ease 0.5s;
}

.win-rate .win-rate-inner .right-inner .owl-carousel .owl-item .item .item-inner {
    border-radius: 5px;
    background: #FFF;
    height: 70px;
    padding: 20px;
    text-align: center;
}

.win-rate .win-rate-inner .right-inner .owl-carousel .owl-item .item img {
    height: 100%;
    object-fit: contain;
}

/* Why Us  */
.why-us {
    padding: 120px 0;
    background: url(../img/why-us.png), #121217;
}

.why-us h2 {
    color: #FFF;
    font-size: 53px;
    font-weight: 700;
    line-height: 30.6px;
    margin: 0 0 44px;
}

.why-us ul {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.why-us ul li {
    width: calc(33.33% - 30px);
    padding: 85px 0 60px;
}

.why-us ul li h3 {
    color: #FFF;
    font-size: 36.4px;
    line-height: 46.08px;
    letter-spacing: -0.768px;
    margin: 0 0 50px;
}

.why-us ul li p {
    color: #FFF;
}


/* No Commitment */
.no-commitment {
    padding: 100px 0;
}

.no-commitment .no-commitment-wrapper {
    display: flex;
}

.no-commitment .no-commitment-wrapper .left {
    width: 50%;
    border-radius: 20px;
    border: 1px solid #BBBAB8;
}

.no-commitment .no-commitment-wrapper .left .heading {
    background: #121217;
    border-radius: 20px;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    line-height: 30.6px;
    text-align: center;
    padding: 10px;
}

.no-commitment .no-commitment-wrapper .left .left-inner {
    padding: 30px;
}

.no-commitment .no-commitment-wrapper .left .inner-wrapper {
    padding: 13px 15px 5px;
    display: flex;
    align-items: center;
    gap: 15px;
    justify-content: space-between;
    border: 1px solid #545454;
    border-radius: 20px;
    max-width: 490px;
    margin: auto;
}

.no-commitment .no-commitment-wrapper .left .inner-wrapper img {
    width: 40px;
}

.no-commitment .no-commitment-wrapper .left .inner-wrapper .content {
    display: flex;
    align-items: center;
    gap: 15px;

}

.no-commitment .no-commitment-wrapper .left .inner-wrapper .content p {
    font-size: 18px;
    line-height: 20.6px;

}

.no-commitment .no-commitment-wrapper .left .inner-wrapper .content p:first-child {
    margin: 0 0 2px;
    font-weight: 700;
}

.no-commitment .no-commitment-wrapper .left .inner-wrapper span {
    font-size: 18px;
    line-height: 30.6px;
}

.no-commitment .no-commitment-wrapper .left .inner-wrapper span.green {
    color: #1E874C;
}

.no-commitment .no-commitment-wrapper .left .inner-wrapper span.purple {
    color: #7F54B3;
}

.no-commitment .no-commitment-wrapper .left .inner-wrapper span.red {
    color: #EA270C;
}

.no-commitment .no-commitment-wrapper .left .arrow-image {
    margin: 6px auto;
    max-width: 12px;
    display: block;
}

.no-commitment .no-commitment-wrapper .right {
    width: 50%;
    padding: 0 0 0 123px;
}

.no-commitment .no-commitment-wrapper .right h2 {
    font-size: 52px;
    font-style: normal;
    font-weight: 700;
    line-height: 63.84px;
    letter-spacing: -1.68px;
    margin: 0 0 50px;
}

.no-commitment .no-commitment-wrapper .right p {
    margin: 0 0 15px;
}

.no-commitment .no-commitment-wrapper .right p span {
    color: #6C6C89;
}

.no-commitment .no-commitment-wrapper .right p span b {
    font-weight: 700;
}

/* A behind-the-scenes view  */
.behind-the-scenes-view {
    padding: 100px 0;
}

.behind-the-scenes-view h2 {
    color: #000;
    font-size: 52px;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin: 0 0 30px;
}

.behind-the-scenes-view p {
    max-width: 1090px;
    margin: 0 0 50px;
    color: #909293;
    font-size: 24px;
    line-height: 30.6px;
}

.behind-the-scenes-view ul {
    display: flex;
    flex-wrap: wrap;
    gap: 60px 150px;
}

.behind-the-scenes-view ul li {
    width: calc(50% - 150px);
    display: flex;
    gap: 12px;
    align-items: flex-start;
}

.behind-the-scenes-view ul li .content {
    width: calc(100% - 43px);

}


.behind-the-scenes-view ul li .content h4 {
    font-size: 24px;
    font-weight: 500;
    line-height: 31.72px;
    letter-spacing: -0.52px;
    margin: 0 0 15px;
}

.behind-the-scenes-view ul li .content span {
    color: #000;
    font-size: 24px;
    font-weight: 300;
    line-height: 31.72px;
    letter-spacing: -0.52px;
}

/* Our Approach: Security First, Always  */
.our-approach {
    background: linear-gradient(0deg, #E8E9E9 0%, #FFF 100%);
    padding: 132px 0;
}

.our-approach h2 {
    font-size: 50px;
    font-weight: 700;
    margin: 0 0 45px;
}

.our-approach p {
    color: #909293;
    font-family: Inter;
    font-size: 24px;
    margin: 0 0 31px;
}

.our-approach ul {
    display: flex;
    align-items: self-start;
    margin: 58px 0 0;
    justify-content: space-between;
    flex-wrap: wrap;
}

.our-approach ul li {
    text-align: center;
    flex: 1;
}

.our-approach ul li img {
    height: 100px;
    width: 100px;
    object-fit: contain;
}

.our-approach ul li p {
    margin: 31px 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

.our-approach ul li p span {
    color: #909293;
    font-size: 24px;
}

/* Love from clients worldwide  */
.clients-worldwide {
    background: linear-gradient(270deg, #EBEDFC 24.65%, #FFF 50%);
    padding: 65px 0 125px;
}

.clients-worldwide h2 {
    font-size: 50px;
    font-weight: 700;
    line-height: 30.6px;
    margin: 0 0 133px;
}

.clients-worldwide .inner-wrapper {
    display: flex;
    align-items: center;
}

.clients-worldwide .inner-wrapper .inner {
    width: 40%;
}

.clients-worldwide .inner-wrapper .inner:nth-child(2) {
    width: 20%;
    text-align: center;
}

.clients-worldwide .inner-wrapper .inner .company {
    display: flex;
    align-items: center;
    gap: 12.5px;
    margin: 0 0 44px;
}

.clients-worldwide .inner-wrapper .inner .company img {
    width: 67.5px;
}

.clients-worldwide .inner-wrapper .inner .company span {
    color: #6C6C89;
    font-size: 25px;
    font-weight: 700;
    line-height: 32.4px;
}

.clients-worldwide .inner-wrapper .inner p {
    font-size: 20px;
    line-height: 32.4px;
    margin: 0 0 36px;
}

.clients-worldwide .inner-wrapper .inner h3 {
    font-size: 18px;
    font-weight: 700;
    line-height: 32.4px;
    margin: 0;
}

.clients-worldwide .inner-wrapper .inner h3 span {
    font-weight: 400;
}

.clients-worldwide .owl-nav {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 125px;
}

.clients-worldwide .owl-nav button img {
    width: 50px;
}

.clients-worldwide .owl-nav button:hover {
    background-color: transparent !important;
}

/* Recent Blogs  */
.recent-blog {
    padding: 56px 0;
}

.recent-blog h2 {
    color: #121217;
    font-size: 50px;
    font-weight: 700;
    line-height: 63.84px;
    letter-spacing: -1.68px;
    margin: 0 0 35px;
}

.recent-blog .inner-wrapper {
    display: flex;
    align-items: flex-start;
    gap: 250px;
}

.recent-blog .inner-wrapper .blog-inner {
    width: calc(50% - 125px);
}

.recent-blog .inner-wrapper .blog-inner p {
    font-size: 20px;
    line-height: 25px;
    letter-spacing: -1.68px;
    margin: 0 0 27px;
}

.recent-blog .inner-wrapper .blog-inner img {
    height: 350px;
    object-fit: cover;
    box-shadow: 0 0 10px rgba(0, 0, 0, .25);

}

.recent-blog .show-more {
    text-align: right;
    margin-top: 20px;
}

/* FAQ  */
.faq {
    padding: 114px 0 0;
    display: flex;
    align-items: flex-start;
    gap: 100px;
    flex-wrap: wrap;
}

.faq .inner-wrapper {
    width: calc(50% - 50px);
}

.faq h2 {
    font-size: 50px;
    font-weight: 700;
    margin: 0 0 72px;
}

.faq .accordion .card {
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0 0 56px rgba(201, 201, 201, .25);
    margin: 0 0 30px;
}

.faq .accordion .card h4.accordion-item {
    padding: 15px 45px 15px 15px;
    font-size: 24px;
    font-weight: 600;
    margin: 0;
    cursor: pointer;
    position: relative;
}

.faq .accordion .card h4.accordion-item span {
    height: 24px;
    width: 24px;
    border: 1px solid #121217;
    border-radius: 50%;
    display: block;
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
}

.faq .accordion .card h4.accordion-item span::before {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #121217;
    height: 1px;
    width: 60%;
}

.faq .accordion .card h4.accordion-item span::after {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #121217;
    width: 1px;
    height: 60%;
}

.faq .accordion .card h4.accordion-item.active span::after {
    display: none;
}

.faq .accordion .card .panel {
    display: none;
    border-top: 1px solid #d9d9d9;
    padding: 15px;
}

/* Footer  */
footer {
    background-color: #121217;
    padding: 83px 0 15px;
}

footer .inner-footer {
    display: flex;
    flex-wrap: wrap;
}

footer .inner-footer .inner-wrapper:nth-child(2) {
    width: 20%;
}

footer .inner-footer .inner-wrapper:nth-child(3) {
    width: 40%;
}

footer .inner-footer .inner-wrapper.logo {
    display: flex;
    align-items: flex-start;
    gap: 11px;
    padding: 15px 0 0;
}

footer .inner-footer .inner-wrapper:first-child {
    width: 40%;
    padding-right: 100px;
}

footer .inner-footer .inner-wrapper img {
    max-width: 122px;
}

footer .inner-footer .inner-wrapper p {
    color: #fff;
    font-size: 16px;
    line-height: 25.6px;
}

footer .inner-footer .inner-wrapper p span {
    font-weight: 500;
    margin: 0 0 13px;
    display: block;
}

footer .inner-footer .inner-wrapper h3 {
    color: #FFF;
    font-size: 16px;
    line-height: 25.6px;
}

footer .inner-footer .inner-wrapper ul li {
    padding: 5px 0;
}

footer .inner-footer .inner-wrapper ul li a {
    color: rgba(255, 255, 255, 0.60);
    font-size: 16px;
    line-height: 25.6px;
}

footer .copy-right {
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-size: 14px;
    line-height: 22.4px;
    margin: 15px 0 0;
}

footer .copy-right a {
    color: rgba(255, 255, 255, 0.60);
}

/* Mobile View  */
.menu-bar {
    cursor: pointer;
    margin-left: auto;
    display: none;
}


/* About us page  */
/* Our Story */
.our-story {
    padding: 50px 0;
}

.our-story h2 {
    font-size: 50px;
    font-weight: 800;
    margin: 0 0 30px;
}

.our-story h3 {
    color: #121217;
    font-size: 30px;
    font-weight: 700;
}

.our-story p {
    color: #909293;
    margin: 15px 0 0;
}

/* features  */
.features {
    padding: 50px 0;
    background-color: #121217;
}

.features h2 {
    color: #FFF;
    font-size: 50px;
    font-weight: 700;
    margin: 0 0 60px;
    text-align: center;
}

.features .wrapper {
    display: flex;
    align-items: flex-start;
    gap: 96px;
    flex-wrap: wrap;
}

.features .wrapper .inner-wrapper {
    width: calc(50% - 48px);
}

.features .wrapper .inner-wrapper .item {
    display: flex;
    align-items: baseline;
    gap: 20px;
    min-height: 200px;
    position: relative;
}

@media (max-width:1280px) {
    .features .wrapper .inner-wrapper .item {
        min-height: 250px;
    }
}

@media (max-width:1024px) {
    .features .wrapper .inner-wrapper .item {
        min-height: 300px;
    }
}

.features .wrapper .inner-wrapper .item h3 {
    color: #FFF;
    font-size: 30px;
    font-weight: 700;
    line-height: 46.08px;
    margin: 0 0 10px;
}

.features .wrapper .inner-wrapper .item p {
    color: #FFF;
}

.features .wrapper .inner-wrapper:first-child .item {
    justify-content: end;
}

.features .wrapper .inner-wrapper:first-child .item h3,
.features .wrapper .inner-wrapper:first-child .item p {
    text-align: right;
}

.features .wrapper .inner-wrapper:first-child .item::after {
    content: '';
    width: 1px;
    position: absolute;
    right: -48px;
    top: 0;
    bottom: 0;
    background: #D74799;
}

.features .wrapper .inner-wrapper:first-child .item::before {
    content: '';
    width: 1px;
    position: absolute;
    right: -53px;
    top: 0;
    background: #D74799;
    width: 11px;
    height: 11px;
    border-radius: 50%;
}

.features .wrapper .inner-wrapper:last-child .item:last-child:before {
    content: '';
    width: 1px;
    position: absolute;
    left: -53px;
    bottom: 0;
    background: #D74799;
    width: 11px;
    height: 11px;
    border-radius: 50%;
}

/* Pricing Page  */
/* pricing  */
.pricing {
    padding: 50px 0;
    display: flex;
    flex-wrap: wrap;
}

.pricing .inner {
    width: 40%;
}

@media (max-width:1024px) {
    .pricing .inner {
        width: 100% !important;
        padding: 0 !important;
    }
}

.pricing .inner:first-child {
    width: 100%;
    text-align: center;
    margin: 0 0 40px;
}

.pricing .inner:last-child {
    padding: 0 0 0 200px;
    width: 60%;
}


.pricing h2 {
    font-size: 53px;
    font-weight: 700;
}

.pricing h3 {
    font-size: 52px;
    font-weight: 700;
    margin: 0 0 65px;
}

.pricing p {
    color: #6C6C89;
    margin: 0 0 20px;
}

.pricing .right-wrapper {
    background-color: #e3e3e3;
    padding: 36px 55px;
}

.pricing .right-wrapper h4 {
    font-size: 52px;
    margin: 0 0 40px;
}

.pricing .right-wrapper h3 {
    margin: 0 0 30px;
    line-height: 22px;
}

.pricing .right-wrapper h3 span {
    font-size: 18px;
    font-weight: 400;
}

.pricing .right-wrapper .line {
    background-color: #121217;
    height: 2px;
}

.pricing .right-wrapper ul li {
    display: flex;
    gap: 12px;
    padding: 15px 0;
}

.pricing .right-wrapper ul li svg {
    min-width: 50px;
}

.pricing .right-wrapper ul li span {
    font-size: 18px;
}

.gap {
    height: 100px;
}

/* tab responsive  */
@media (max-width:991px) {
    .no-commitment .no-commitment-wrapper {
        flex-direction: column-reverse;
    }

    .no-commitment .no-commitment-wrapper .left,
    .no-commitment .no-commitment-wrapper .right {
        width: 100%;
        padding: 0;
    }

    .no-commitment .no-commitment-wrapper .right {
        padding-bottom: 50px;
    }

    .behind-the-scenes-view ul {
        gap: 30px;
    }

    .behind-the-scenes-view ul li {
        width: calc(50% - 30px);
    }

    .our-approach ul {
        gap: 30px 0;
    }

    .our-approach ul li {
        flex: initial;
        width: 33.33%;
    }

    .recent-blog .inner-wrapper {
        gap: 100px;
    }

    .recent-blog .inner-wrapper .blog-inner {
        width: calc(50% - 50px);
    }

    .faq {
        gap: 0;
    }

    .faq .inner-wrapper {
        width: 100%;
    }

    footer .inner-footer .inner-wrapper:first-child {
        padding-right: 10px;
    }
}

@media (max-width:767px) {
    .menu-bar {
        display: block;
    }

    .header {
        padding: 20px 0;
    }

    .header ul {
        flex-direction: column;
        position: absolute;
        left: -200px;
        width: 200px;
        background-color: #7F54B3;
        top: 0;
        bottom: 0;
        justify-content: flex-start;
        padding: 20px 0;
        gap: 0;
        transition: all .5s ease-in;
    }

    .header.show ul {
        left: 0;
    }

    .header ul li {
        border-bottom: 1px solid #f9f9f9;
        width: 100%;
        text-align: center;
    }

    .header ul li a {
        color: #fff;
        display: block;
        padding: 15px 0;

    }

    .banner {
        padding: 38px 0;
    }

    .banner h1 {
        font-size: 33px;
        line-height: 45.5px;
        letter-spacing: normal;
    }

    .banner .content p {
        font-size: 16px;
        line-height: 25px;
    }

    .banner .content .primary-btn {
        width: 100%;
    }

    .win-rate .win-rate-wrapper {
        padding: 50px 0;
    }

    .win-rate .win-rate-inner {
        width: 100%;
    }

    .win-rate .win-rate-inner h2 {
        font-size: 33px;
        line-height: 45.5px;
        letter-spacing: normal;
    }

    .why-us ul li {
        width: 100%;
        padding: 25px 0 20px;
    }

    .why-us ul li h3 {
        margin: 0 0 30px;
    }

    .no-commitment {
        padding: 50px 0;
    }

    .no-commitment .no-commitment-wrapper .right h2 {
        font-size: 33px;
        line-height: 45.5px;
        letter-spacing: normal;
    }

    .behind-the-scenes-view ul li {
        width: 100%;
    }

    .behind-the-scenes-view {
        padding: 50px 0;
    }

    .behind-the-scenes-view h2 {
        font-size: 33px;
        line-height: 45.5px;
        letter-spacing: normal;
    }

    .our-approach {
        padding: 50px 0;
    }

    .our-approach h2 {
        font-size: 33px;
        line-height: 45.5px;
        letter-spacing: normal;
    }

    .our-approach ul li {
        width: 50%;
    }

    .clients-worldwide h2 {
        font-size: 33px;
        line-height: 45.5px;
        letter-spacing: normal;
        margin: 0px 0 60px
    }

    .clients-worldwide .inner-wrapper {
        flex-direction: column;
    }

    .clients-worldwide .inner-wrapper .inner {
        width: 100%;
    }

    .clients-worldwide .inner-wrapper .inner:nth-child(2) {
        padding: 60px 0;
    }

    .faq {
        padding: 50px 0;
    }

    .faq h2 {
        font-size: 33px;
        line-height: 45.5px;
        letter-spacing: normal;
    }

    .faq .accordion .card h4.accordion-item {
        font-size: 20px;
    }

    .recent-blog .inner-wrapper {
        flex-wrap: wrap;
    }

    .recent-blog .inner-wrapper .blog-inner {
        width: 100%;
    }

    footer .inner-footer .inner-wrapper:first-child {
        padding-right: 0;
    }

    footer .inner-footer .inner-wrapper {
        width: 100% !important;
    }

    footer {
        padding: 30px 0 15px;
    }

    footer .inner-footer .inner-wrapper ul li {
        padding: 5px 0;
    }

    footer .inner-footer .inner-wrapper h3 {
        margin: 20px 0 0;
    }

    .clients-worldwide .owl-nav {
        justify-content: center;
    }

    .features .wrapper {
        gap: 0;
    }

    .features .wrapper .inner-wrapper {
        width: 100%;
    }

    .features .wrapper .inner-wrapper .item {
        min-height: auto;
        padding: 15px 0;
    }

    .features .wrapper .inner-wrapper:first-child .item {
        flex-direction: row-reverse;
    }

    .features .wrapper .inner-wrapper:first-child .item::before,
    .features .wrapper .inner-wrapper:first-child .item::after {
        display: none;
    }

    .features .wrapper .inner-wrapper:first-child .item h3,
    .features .wrapper .inner-wrapper:first-child .item p {
        text-align: left;
    }

    .pricing h2 {
        font-size: 33px;
        margin: 0;
    }

    .pricing h3 {
        font-size: 32px;
        margin: 0 0 15px;
    }

    .pricing .right-wrapper {
        padding: 15px;
    }

    .pricing .right-wrapper h4 {
        font-size: 32px;
        margin: 0 0 20px;
    }

    .features h2 {
        font-size: 33px;
    }

    .features .wrapper .inner-wrapper .item h3 {
        font-size: 24px;
    }

    .our-story h2 {
        font-size: 33px;
    }

    .our-story h3 {
        font-size: 20px;
    }
}